* {
  font-family: sans-serif;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  height: 200px;
}

.course-container {
  display: flex;
  justify-content: center;
  gap: 15rem;
  padding-left: 50px;
  padding-top: 10px;
}

.course-item {
  text-decoration: underline;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.content-container {
  margin-left: 3rem;
}

h1 {
  position: relative;
  font-size: 32px;
  margin-top: 6rem;
}

h2 {
  font-size: 18px;
  margin-top: 6rem;
  margin-top: 2rem;
}

li {
  margin-top: 5px;
}

.side-image {
  position: absolute;
  height: 400px;
  right: 50px;
}

.copyright {
  position: absolute;
  font-size: 24px;
  width: 99%;
  bottom: 5px;
  text-align: center;
}
